/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media (max-width: 1199px) {
    /*Start Block1*/
    .block1-container {
        width: 980px;
    }
    .block1-head {
        font-size: 33px;
    }
    .block1-h1 {
        font-size: 36px;
    }
    .block1-head2 {
        font-size: 25px;
    }

    .block1-img {
        width: 60%;
    }

    /*Start Block2*/

    .block2-head {
        font-size: 30px;
    }


    /*Start block7*/


    .block7-head {
        font-size: 45px;
        margin-top: 50px;
        margin-bottom: 30px;
        color: #fff;
        line-height: 1.3;
    }
    .block7-p {
        font-size: 25.5px;
        margin: 30px 0 0;
    }
    /*Start Block4*/
    .block1-head5 {
        font-size: 18px;
    }
    /*Start Block4*/


    .form-head {
        font-size: 22px;
    }
    .block4-price {
        width: 100%;
    }
    .block4-head {
        font-size: 28px;
    }
}

@media (max-width: 991px) {
    .block1-container {
        width: 720px;
    }
    .block1 {
        padding: 25px 0 70px;
    }
    .block1-top {
        font-size: 34px;
        padding: 30px 0 25px;
    }
    .block1-head {
        font-size: 24px;

    }
    .block1-h1 {
        font-size: 26px;
        margin: 40px auto 10px;
    }
    .block1-head2:before {
        width: 12px;
        top: 0;
    }
    .block1-head2 {
        font-size: 18px;
        margin: 10px auto;
    }
    .block1-btn {
        width: 345px;
        font-size: 28px;
    }


    /*Start Block2*/
    .block2 {
        padding: 165px 0 50px;
    }
    .block2-head {
        font-size: 25px;
    }
    .block2-head span::after {
        width: 60px;
    }
    .block2-head span::before {
        width: 60px;
    }
    .block2-p {
        font-size: 27px;
    }

    /*Start block3*/
    .block3 .block1-head2:before {
        right: 9px;
        width: 14px;
    }

    /*Start block7*/

    .block7 {
        padding: 225px 0 65px;
    }
    .block7-head {
        font-size: 34px;
        margin-top: 50px;
    }
    .block7-img {
        width: 70%;
        margin: -50px auto 0;
    }
    .block7-p {
        font-size: 19px;
    }
    /*Start block5*/
    .block1-head5 {
        font-size: 14px;
        width: 70%;
        margin: 25px auto 0;

    }
    .block1-head5 span {
        border: 3px solid #fec326;
        font-size: 30px;
        width: 55px;
        height: 55px;
    }
    .block6-head {
        font-size: 30px;

    }

    /*Start Block4*/



    .form-head {
        font-size: 16px;
    }

    .form-control-input {
        padding-right: 20px;
        font-size: 15px;
        height: 55px;
    }



    select.form-control-input {
        height: 55px !important;
    }

    .form-call {
        font-size: 26px;
        line-height: 1;
    }
    .block4-head {
        font-size: 24px;
    }

}

@media (max-width: 767px) {

    .block1-img {
        position: static;
        width: 70%;
        margin: 20px auto;
    }

    .block1 {
        border-radius: 0% 0% 240% 240% / 0% 0% 15% 15%;
        padding: 25px 0 40px;
    }
    .block1-img img {
        margin: -25px auto -10px;
        width: 100%;
    }
    .block1-logo {
        width: 36%;
        margin: 0 auto 20px;
    }

    .block1-head {
        font-size: 26px;
        margin: 50px auto;
    }
    .block1-head span {
        font-size: .56em;
        color: #fff;
    }
    .block1-head span:last-of-type {
        font-size: .56em;
        display: block;
        margin-top: 12px;
    }
    .block1-h1 {
        font-size: 35px;
        margin: 1px auto 10px;
        text-align: center;
    }
    .block1-head2 {
        font-size: 29px;
        margin: 12px auto;
        text-align: center;
        display: block;
        -moz-text-align-last: center;
        text-align-last: center;
    }
    .block1-btn {
        width: 100%;
        font-size: 34px;
    }

    /*Start Block2*/

    .block2 {
        border-radius: 0% 0% 240% 240% / 0% 0% 15% 15%;
    }
    .block2-img {
        margin: 20px auto;
    }
    .block2-head {
        font-size: 30px;
    }

    /*start block7*/
    .block7 {
        border-radius: 0% 0% 240% 240% / 0% 0% 15% 15%;
        padding: 225px 0 40px;
    }
    .block7-head {
        font-size: 56px;
        margin-top: 0;
        margin-bottom: 15px;
        text-align: center;
    }
    .block7-img {
        width: 50%;
    }

    .block7-p {
        font-size: 30px;
        -moz-text-align-last: center;
        text-align-last: center;
        margin: 0 auto 30px;
        line-height: 1.2;
    }
    /*Start Block5*/
    .block5 {
        border-radius: 0% 0% 240% 240% / 0% 0% 15% 15%
    }
    .block1-head5 {
        width: 90%;
        margin: 80px auto 0;
        padding: 40px 3px 10px;
        border-radius: 25px;
    }
    .block1-head5.right-img:after {
        content: "";
        background: url(../images/block5.2-Mobile.png) no-repeat;
        background-size: contain;
        bottom: -50%;
        width: 11px;
        left: 50%;
        -webkit-transform: translate(-50%,50%);
        -ms-transform: translate(-50%,50%);
        transform: translate(-50%,50%);
    }
    /*Start Block3*/
    .block3 {
        border-radius: 0% 0% 240% 240% / 0% 0% 15% 15%;
    }
    /*Start Block6*/
    .block6-head {
        margin-bottom: 20px;
    }
    .block6-img {
        margin-bottom: 20px;
    }
    /*Start Block4*/
    .block4 {
        padding: 50px 0;
        margin-top: -190px;
        border-radius:  240% 240% 0% 0%/ 15% 15% 0% 0% ;
    }
    .block4-head {
        font-size: 24px;
        margin-bottom: 0;
    }
    .form-head {
        font-size: 22px;
    }

    .form {
        width: 100%;
        border-radius: 13px;
    }
    .form-control-input {
        font-size: 15px;
        border-radius: 0;
    }
    .block4-price {
        width: 100%;
        margin: 20px auto;
    }
    .form-call {
        font-size: 39px;
    }
    .block4-img {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 25px auto 0;
    }
    .block4-img img {
        -webkit-box-flex: 40%;
        -ms-flex: 40%;
        flex: 40%;
        width: 40%;
        margin: 4px 10px;
    }
}

@media (max-width: 576px) {


    .block1 {
        padding: 5vw 0 8vw;
    }
    .block1-head {
        font-size: 6vw;
        margin: 6vw auto 16vw;
    }
    .block1-img {
        width: 56vw;
        /* margin-right: -5vw; */
    }
    .block1-head {
        font-size: 6vw;
        margin: 6vw auto 16vw;
        line-height: 1.5;
    }
    .block1-h1 {
        font-size: 7vw;
        margin: 1px auto 10px;
        text-align: center;
    }
    .block1-head2:nth-child(5) {
        margin-bottom: 7vw;
    }
    .block1-btn {
        font-size: 7vw;
    }
    .block1-head2 {
        font-size: 5.6vw;
        margin: 4vw auto;
        padding-right: 2vw;
    }

    /*Start Block2*/
    .block2 {
        padding: 55vw 0 8vw;
        margin-top: -50vw;
    }
    .block2-head {
        font-size: 5.7vw;
        margin-bottom: 2vw;
    }
    .block2-img {
        margin: 5vw auto;
    }

    .block2-container {
        font-size: 3vw;
        margin: 5vw 0px;
    }
    .block2-head span::before ,.block2-head span::after{
        width: 13vw;
        bottom: 5vw;
    }

    .block2-p {
        font-size: 3.9vw;
        text-align: justify;
        line-height: 1.3;
        -moz-text-align-last: justify;
        text-align-last: justify;
        width: 90%;
        margin: auto;
    }
    .block2-img {
        width: 100%;
    }
    /*Start block7*/
    .block7 {
        padding: 55vw 0 8vw;
        margin-top: -50vw;
    }
    .block7-head {
        font-size: 10.5vw;
        margin-bottom: 6vw;
    }
    .block7-p {
        font-size: 5.5vw;
        margin: 3vw auto 6vw;
    }
    .block7-img2 {
        margin: auto;
    }
    /*Start block3*/
    .block3 {
        padding: 59vw 0 59vw;
    margin-top: -56vw;
    }
    .block3-img {
        margin: 10vw auto 8vw;
        width: 95%;
    }
    .block3 .block1-head2 {
        font-size: 5vw;
    }
    .block3 .block1-head2:before {
        right: -5vw;
        border-radius: 20px;
    }
    /*Start block5*/
    .block5 {
        padding: 55vw 0 8vw;
        margin-top: -50vw;
    }
    .block1-head5 span {
        font-size: 5vw;
        width: 14vw;
        height: 14vw;
    }
    .block1-head5 {
        width: 90%;
        margin: 18vw auto 0;
        padding: 8vw 0 3vw;
        border-radius: 5vw;
    }
    /*Start block6*/
    .block6 {
        padding: 55vw 0 49vw;
        margin-top: -47vw;
    }
    .block6-head {
        margin-bottom: 5vw;
        font-size: 6vw;
    }
    /*Start Block4*/
    .block4 {
        padding: 10vw 0 6vw;
        margin-top: -50vw;
    }
    .block4-price {
        margin: -3vw auto 0;
    }
    .block4-head {
        font-size: 5.5vw;
        margin-bottom: 0;
    }
    .form-head {
        font-size: 4.5vw;
        padding: 5vw 0 3vw;
    }
    .form {
        border-radius: 0;
    }
    .form .form-group {
        margin-bottom: 3vw;
    }
    .last-img {
        margin: 15px auto 0;
        width: 63vw;
    }
    .form-control-input {
        font-size: 4vw
    }
    .block4-img {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 4vw auto 0;
    }

}